@import "tailwindcss";

@import './base.css';

:root {
  --color-background: #f8fafc;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-background);
}

/* Leaflet CSS fixes */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 12px;
}
